<!-- ===================================================================
FOOTER
===================================================================== -->
<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3"><h3>evricamp</h3> <p>Мы в ответе за тех, кого обучили</p></div>
				<div class="col-md-6">
					<ul class="list-inline footer_nav">
						<li><a href="#">Связаться с нами</a></li>
						<li>|</li>
						<li><a href="#">Вакансии</a></li>
						<li>|</li>
						<li><a href="#">Создать курс</a></li>
					</ul>
				</div>
				<div class="col-md-3"  style="display: none;">
					<div class="row socials" align="center">
						<div class="col-md-2">
							<div align="center" class="social_buttons"><i class="fa fa-facebook" aria-hidden="true"></i></div>
						</div>
						<div align="center" class="col-md-2">
							<div class="social_buttons"><i class="fa fa-vk" aria-hidden="true"></i></div>
						</div>
						<div  align="center"class="col-md-2">
							<div class="social_buttons"><i class="fa fa-twitter" aria-hidden="true"></i></div>
						</div>
						<div align="center" class="col-md-2">
							<div class="social_buttons"><i class="fa fa-instagram" aria-hidden="true"></i></div>
						</div>
						<div align="center" class="col-md-2">
							<div class="social_buttons"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><hr>
					<ul class="list-inline footer_nav" id="footer_nav_2">					
						<li>&#169; <a href="#">Evricamp</a>, 2016 </li>						
						<li><a href="#">Условия использования</a></li>
						<li><a href="#">Политика конфиденциальности</a></li>
						<li><a href="#">Интелектуальная собственность</a></li>
					</ul>
				</div>
			</div>
				
		</div>
	</div>
</footer>
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="bootstrap/js/jquery.js"></script>
<script src="bootstrap/js/jquery.stellar.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>