<% include partials/header %>

<!-- ===================
         Тело
======================== -->
<div class="jumbo_conteiner">
	<div class="blur"></div>
	<div class="container" > 		
			<div class="jumbotron text-center myjumbo">
	    	<h1 class="text-center">Принципиально новый взгляд на онлайн-образование</h1>
	    	
	    	<p>Стать полноценным специалистом обучаясь онлайн теперь стало возможным</p>
	 
	    	<a href="#about" class="btn btn-primary btn-lg text-center btn-width btn-material">Узнать больше</a> <a href="#subscribe" class="btn btn-primary btn-lg btn-width">Следить за проектом</a><br><br>
	    	<p class="text-right">#evricamp</p>
	  	</div>
	</div>
</div>

<!-- About -->
<div class="about" id="about" data-stellar-background-ratio="0.5">
	<div class="about_container">
		<div class="jumbotron">
			<div class="container">				
				<h2>О нас</h2>
				<hr>
				<p>evricamp &#150 это инновационный система онлайн-образования. Конечной целью обучения мы считаем не сдачу экзаменов и получение сертификатов. Обратившийся к нам человек будет получать от нас все необходимые знания, навыки и поддержку до тех пор, пока не станет полноценным, самостоятельным и высококвалифицированным специалистом. Мы в ответе за тех, кого обучили.</p>
				<hr>
			</div>
		</div>
	</div>
</div>



<!-- ============================
Как это работает
=========================== -->
<div id="how_it_works">
	<div class="container">	
	<!-- item -->
		<div class="row">
			<div class="col-lg-12">
				<div class="thumbnail card">
			    	<img src="assets/img/logo.png" alt="...">
			    	<div class="caption">
			        	<h4>Вы выбираете курс Вашей мечты.</h4>
			        </div>
			    </div>
			</div>
		</div>
	<!-- divider -->
		<div class="row">
			<div class="col-xs-6 border-right"></div>
		</div>
	<!-- item -->
		<div class="row">
			<div class="col-lg-12">
				<div class="thumbnail card">
			    	<img src="assets/img/blackboard.png" alt="...">
			    	<div class="caption">
			        	<h4>Вам предлагается цикл обязательных для освоения модулей и определенное количество образовательных кредитов для прохождения факультативных модулей по интересам.</h4>
			        </div>
			    </div>
			</div>
		</div>
	<!-- divider -->
		<div class="row">
			<div class="col-xs-6 border-right"></div>
		</div>
	<!-- item -->
		<div class="row">
			<div class="col-lg-12">
				<div class="thumbnail card">
			    	<img src="assets/img/grades.png" alt="...">
			    	<div class="caption">
			        	<h4>После каждого модуля вы сдаете рубежные испытания, по завершению курса вам предстоит столкнуться с итоговой аттестацией.</h4>
			        </div>
			    </div>
			</div>
		</div>
	<!-- divider -->
		<div class="row">
			<div class="col-xs-6 border-right"></div>
		</div>
	<!-- item -->
		<div class="row">
			<div class="col-lg-12">
				<div class="thumbnail card">
			    	<img src="assets/img/diploma.png" alt="...">
			    	<div class="caption">
			        	<h4>Поздравляем! Вы успешно освоили образовательную программу и готовы самостоятельно действовать! Вам становятся доступны Все из предложенных вариантов:</h4>
			        </div>
			    </div>
			</div>
		</div>
	<!-- divider -->
		<div class="row">
			<div class="col-xs-6 border-right"></div>
		</div>
	<!-- item -->
		<div class="row">
			<div class="col-lg-12">
				<div class="thumbnail card">
			    	<img src="assets/img/briefcase.png" alt="">
			    	<div class="caption">
			        	<table class="table"><tr><td class="without_border"><i class="fa fa-laptop" aria-hidden="true"></i></td><td class="without_border"><h4>Если вам претит монотонная работа в офисе и вы чувствуете в себе силы для самостоятельной деятельности, то добро пожаловать в evricamp.Freelance. По окончанию курса Ваша анкета автоматически помещается на нашу уникальную биржу фриланса.</h4></td></tr>
			        	<tr><td><i class="fa fa-group" aria-hidden="true"></i></td><td><h4>Вы хотите создать собственный крупный проект? Или хотите принять участие в проектах других выпускников? Мы даем Вам прекрасную возможность раскрыть свой потенциал в evricamp.Production.</h4></td></tr>
			        	<tr><td><i class="fa fa-institution" aria-hidden="true"></i></td><td><h4>Желаете сделать карьеру в состоявшейся компании? Мы можем помочь Вам в этом. У нас Вы получите консультацию ведущих HR-специалистов, а самые лучшие студенты получат гарантию трудоустройства в компаниях наших партнеров.</h4></td></tr></table>
			        </div>
			    </div>
			</div>
		</div>
	<!-- divider -->
		<div class="row">
			<div class="col-xs-6 border-right"></div>
		</div>
	<!-- item -->
		<div class="row">
			<div class="col-lg-12">
				<div class="thumbnail card">
			    	<img src="assets/img/graduate.png" alt="...">
			    	<div class="caption">
			        	<h4>Какой бы путь Вы не выбрали, помните наш девиз: "Мы в ответе за тех, кого обучили". В течение полугода после окончания курса Вы можете совершенно бесплатно пользоваться поддержкой наших наставников в решении самых сложных вопросов, которые непременно возникнут на вашем профессиональном пути. Поэтому Ваши будующие работодатели могут быть спокойны: все задачи будут выполнены в срок и качественно.</h4>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>

<!-- ========================Features========================= -->
<div id="features_bg">
	<!-- feature item -->
		<div class="container">
			<div class="card features_list">
				<div class="row">				
					<div class="col-md-4 "><img src="assets/img/brain.png" alt="..."><span class="features_number">1</span></div>
					<div class="col-md-8">
						<h3>Потенциал</h3>
						<p>Мы глубоко убеждены, что знания и навыки не являются конечной целью обучения, а лишь инструментом для реализации человеческого потенциала. Мы дадим в твои руки самый лучший и качественный "инструмент", поможем воплотить идею и раскрыть потенциал. </p>
					</div>

				</div>
			</div>
	<!-- feature item -->
			<div class="card features_list">
				<div class="row">				
					<div class="col-md-8">
						<h3>Некомпетентность не пройдет!</h3>
						<p>Мы не можем заставить тебя учится, но мы научим как это сделать. Для того чтобы стать выпускником evricamp тебе придется показать блестящие знания и навыки. Да, это будет сложно, но результат того стоит.</p>
					</div>
					<div class="col-md-4 text-right"><img src="assets/img/graduate-2.png" alt="..."><span class="features_number">2</span></div>
				</div>
			</div>
	<!-- feature item -->
			<div class="card features_list">
				<div class="row">
					<div class="col-md-4"><img src="assets/img/mortarboard.png" alt="..."><span class="features_number 2">3</span></div>
					<div class="col-md-8">
						<h3>Evricamp заботится о лучших студентах!</h3>
						<p>Будь лучшим, делай успехи в обучении и мы поможем тебе получить лучшую работу в ведущих компаниях.</p>
					</div>
				</div>
			</div>
	<!-- feature item -->
			<div class="card features_list">
				<div class="row">				
					<div class="col-md-8">
						<h3>Создай собственный проект!</h3>
						<p>Чувствуешь уверенность в собственных силах? Не хочешь работать по найму? Создавай собственный проект на базе evricamp.<span class="side_brand-color">Production</span> и мы поможем тебе с реализацией! </p>
					</div>
					<div class="col-md-4 text-right"><img src="assets/img/rocket.png" alt="..."><span class="features_number">4</span></div>
				</div>
			</div>
	<!-- feature item -->
			<div class="card features_list">
				<div class="row">
					<div class="col-md-4"><img src="assets/img/employee.png" alt="..."><span class="features_number">5</span></div>
					<div class="col-md-8">
						<h3>Evricamp это новое слово во фрилансе</h3>
						<p>Только слушатели удовлетворяющие нашим требованиям могут предлагать свои услуги в качестве представителя evricamp.<span class="side_brand-color">Freelance</span>.
						</p><p>Под руководством координатора от компании evricamp возможно выполнение комплексных проектов по ценам фриланса.</p>
					</div>
				</div>
			</div>
	</div>

</div>



<!-- ======================================
Блок подписки
====================================== -->

<div class="subscription_bg" id="subscribe">
	<div class="container">
		<div class="row">
			
			<div class="col-md-5">
				<div class="card thumbnail">	
      				<div class="icon_container">
      					<i class="fa fa-envelope-o" aria-hidden="true"></i>
      				</div>
      				<div class="caption">
        				<h3>ПОДПИШИТЕСЬ НА САМУЮ СВЕЖУЮ ИНФОРМАЦИЮ О ПРОЕКТЕ!</h3>
        				<p>evricamp - один из наиболее перспективных проектов в сфере online-образования. Подпишитесь на самые свежие новости о нас и информацию о наиболее выгодных предложениях! И никакого спама... Честно-честно:-)</p>
        				<form id="subscription_form">
        					<div class="form-group">
								<label for="subFormName">Имя</label>
								<input type="text" class="form-control" name="subFormName" placeholder="Иван Иванов">
							</div>
							<div class="form-group">
								<label for="subFormEmail">Email адрес</label>
								<input type="email" class="form-control" name="subFormEmail" placeholder="ivan@example.com">
							</div>
							<div class="form-group">
								<label class="radio-inline">
								<input type="radio" name="subscriberType" value="employer">Я ищу классного специалиста</label>
								<label class="radio-inline">
								<input type="radio" name="subscriberType" value="employee">Я ищу знаний</label>
							</div>
							<button type="submit" class="btn btn-lg btn-success">Подписаться</button>
						</form>
        			
      				</div>
				</div>
			</div>
			<div class="col-md-7"></div>
		</div>
	</div>
</div>

<script>
$('#subscription_form').submit(function(e) {
	e.preventDefault();
	$.post('/subscribe', $(this).serialize(), function(data) {
		console.log(data);
	});
});
</script>

<!-- ===================================================================
Course survey
===================================================================== -->

<div class="course_survey">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h2>Ты сам решаешь, чему учиться</h2>
				<p class="lead">Проголосуй за интересную тебе тему и мы приложим все усилия для создания курса в evricamp.<span class="side_brand-color">University</span> по этому направлению в первую очередь.</p>
			</div>
			<div class="col-md-5">
				<div class="thumbnail card">
					<div class="icon_container">
      					<i class="fa fa-bar-chart-o" aria-hidden="true"></i>
      				</div>
					<div class="caption">
						<h3>Проголосуй за свой курс!</h3>

	    				<table class="table">
	    					<!-- вариант ответа -->
	    					<tr>
	    						<td>3D моделирование в архитектуре и промышленности</td>
	    						<td class="text-right"><BUTTON class="btn btn-success">Голосовать</BUTTON></td>
	    					</tr>
	    					 <!-- вариант ответа -->
	    					<tr>
	    						<td>3D моделирование и анимация в игровой и киноиндустрии</td>
	    						<td class="text-right"><BUTTON class="btn btn-success">Голосовать</BUTTON></td>
	    					</tr>
	    					 <!-- вариант ответа -->
	    					<tr>
	    						<td>Web-разработка</td>
	    						<td class="text-right"><BUTTON class="btn btn-success">Голосовать</BUTTON></td>
	    					</tr>
	    					 <!-- вариант ответа -->
	    					<tr>
	    						<td>Иностранные языки</td>
	    						<td class="text-right"><BUTTON class="btn btn-success">Голосовать</BUTTON></td>
	    					</tr>
	    					 <!-- вариант ответа -->
	    					<tr>
	    						<td>Управление проектами</td>
	    						<td class="text-right"><BUTTON class="btn btn-success">Голосовать</BUTTON></td>
	    					</tr>
	    					 <!-- вариант ответа -->
	    					<tr>
	    						<td>Интернет маркетинг</td>
	    						<td class="text-right"><BUTTON class="btn btn-success">Голосовать</BUTTON></td>
	    					</tr>
	    					 <!-- вариант ответа -->
	    					<tr>
	    					<td>
	    						<form>
								  	<div class="form-group">
								    	<input type="text" class="form-control" placeholder="Тема курса">
								  	</div>
								</td>
								<td class="text-right">
									<button type="submit" class="btn btn-success">Предложить</button>
								</form>
								</td>
	    				
	    					</tr>    					
	    				</table>
    				</div>
				</div>
			</div>
		</div>
	</div>	
</div>


<% include partials/footer %>