body {
	transition: 124ms !important;
}
.side_brand-color {
	color: #23AE49;
}
/*==============================
Замыливание фона
==============================*/

.jumbo_conteiner {
	overflow:hidden;
	position:relative;
	padding:110px 0 110px 0;
	text-align:center;
}
.blur{
	position:absolute;
	top:-40px;
	left:-40px;
	bottom:-60px;
	right:-40px;
	background-image: url(../assets/img/index_bg2.jpg);
	background-size:cover;
	z-index:-2;
	filter:blur(2px);
	-webkit-filter:blur(2px);
	-moz-filter:blur(2px);
	-o-filter:blur(2px);
	-ms-filter:blur(2px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');}


/*==============================
Стили навигации
==============================*/

.navbar-inverse {
	background: #005c8b;
	color: #fff;
	border:0;
	height: 60px;
	padding-top: 5px;
	margin-bottom: 0 !important;
}

.navbar-inverse .navbar-brand {
	color: rgba(255, 255, 255, 0.9);
	font-size: 1.8em;
	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    transition: 124ms;
    font-family: roboto;
    font-weight: 300;
}
.navbar-inverse .navbar-nav>li>a {
	color: rgba(255, 255, 255, 0.9);
	transition: 124ms;
}
.navbar-toggle {
    z-index:3;
}
.card {
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 transition: 124ms;
}

/*==============================
Стили гамбургера
==============================*/

.navbar-toggle span{
	transition: 240ms;
}
#navbar_button_humburger{
	min-height: 33px ;
	min-width: 44px ;
	background: rgba(0,0,0,0);
	border-color: rgba(255,255,255,0.6);
}
.navbar-toggle.collapsed span{
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	transform:rotate(0);
}
.navbar-toggle.collapsed .navbar-btn_item_second {
	opacity:1;
	 }
.navbar-toggle.collapsed .navbar-btn_item_third{
	margin-top: 4px !important;
	}
.navbar-toggle .navbar-btn_item_first{
	margin-top: -1px !important;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)}
.navbar-toggle .navbar-btn_item_second{
	opacity:0}
.navbar-toggle .navbar-btn_item_third{
	margin-top: -8px !important;
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg)}

/*==============================
Стили карусели
==============================*/

/*========================
alternative jumbo
=========================*/
.myjumbo {
	width: 100%;
	color: white;
	font-size: 2em;
	background: rgba(0,0,0,0.1);
	font-family: roboto;
    font-weight: 300;
}
.myjumbo h1{
	font-weight: 100;
}

/*
About styles*/
.about {
	background-image: url(../assets/img/header_blur.jpg);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
}
.about_container{
	padding-top: 1%;
	padding-bottom: 1%;
	background: rgba(0,0,0,0.6);
	-webkit-transform: translateZ(1px)
}
.about .jumbotron{
	text-align: center;
	color: white;
	margin: 0;
	height: 100% !important;
	background-color: rgba(0,0,0,0) !important;
}
.about .jumbotron h2 {
	font-size: 3.5em;
	padding-bottom: 40px;
}

/*========================
How it works
=========================*/
#how_it_works {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}
#how_it_works .card {
	max-width: 500px;
	margin: auto;
}
#how_it_works .caption{
	text-align: justify;
}
#how_it_works table.table>tbody>tr>td  {
	vertical-align: middle;
}
.border-right {
	border-right: 2px solid #005b8c;
	height: 50px;
}

#how_it_works .without_border {
	border: none;
}
#how_it_works i {
	font-size: 3em;
	color: #005b8c
}
#how_it_works img {
	max-width: 100px;
}
/*========================
Features list
=========================*/
#features_bg{
	background: url(../assets/img/pattern2.png);
}
#features_bg p{
	font-size: 1.5em;
}
#features_bg img{
	max-width: 150px;
}
#features_bg .features_list:nth-of-type(2n) div.row div:nth-of-type(1){
	border-right: 3px solid #ddd;
	padding-right: 20px;
	text-align: right;
}
.features_list{
	background-color: aliceblue;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 30px;
  	padding-bottom: 30px; 
  	padding-right: 15px;
  	padding-left: 15px;
}
.features_list div.row div.col-md-8:nth-of-type(2n){
	border-left: 3px solid #ddd;
	padding-left: 20px;
}
.features_number{
	font-family: roboto;
    font-weight: 100;
    font-size: 10em;
    position: absolute;
    top: -45px;
    right: 5px;
}

.features_list div.row div.col-md-4:nth-of-type(2n) span.features_number {
	left: 5px;
	text-align: left;
}

@media screen and (min-width: 768px) {
.features_list{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 48px;
  	padding-bottom: 48px; 
  	padding-right: 30px;
  	padding-left: 30px;
}
}

/*========================
Subscription block
=========================*/
.subscription_bg{
	background: url(../assets/img/text1.jpg);
	background-size: cover; 
}
.subscription_bg .card{
	background-color: white;
	margin: 15% 0;
	text-align: center;
}

.icon_container{
	background: #005c8b;
    color: white;
    margin: 20px auto;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.icon_container i{	
    margin-top: 30%;
    font-size: 60px;
}

.subscription_bg .btn-success {
    color: #fff;
    background-color: #23AE49;
    border-color: #23AE49;
}


/*=============================
СТИЛИ ПОДВАЛА
=============================*/
.footer {
	background-color: #5A5A69;
	min-height: 140px;
	color: #F2F2F2;
	text-align: center;
}
.socials {
	width: 230px;
    margin: auto;
}
.social_buttons {
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	float: left;	
	margin: 15px 5px;
    padding-top: 3px;
}
.footer_nav {
	list-style-type: none;
	margin-top: 20px;
}
.footer_nav li {
	/*display: inline;
	margin: 0 15px;*/

}
.footer_nav a {
	color: #F2F2F2;
}
#footer_nav_2 {
	color: #AEAEaE;
	font-size: 0.85em;
}
#footer_nav_2 a{
	color: #AEAEaE
}



/*========================
course survey
=========================*/
.course_survey{
	padding: 5% 0 5% 0;
}
.course_survey .btn-success{
	background: #23AE49
}
/*.course_survey .card {
	height: 500px;
}*/
.course_survey .card:hover {
	 box-shadow: 0 1px 4px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
}
.course_survey .row {
	display: flex;
    align-items: center;
}
.course_survey .row .col-md-7{
	background-color: 
}
.course_survey .table tr td{
	border: none !important;
}




/*==============================
COntact us
==============================*/
#contact_us_bg {
	background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),	url(../assets/img/contact_us_bg.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
}
.contact_us {
	color: white;
}
.contact_us small{
	color: white;
}
#contact_us_bg .contact_us input {
	background-color: rgba(255,255,255,0.4);
	color: white;
}
 input::-webkit-input-placeholder       {color: #ddd; opacity: 1; transition: opacity 0.3s ease;}
 input::-moz-placeholder                {color: #ddd; opacity: 1; transition: opacity 0.3s ease;}
 input:-moz-placeholder                 {color: #ddd; opacity: 1; transition: opacity 0.3s ease;}
 input:-ms-input-placeholder            {color: #ddd; opacity: 1; transition: opacity 0.3s ease;}
 input:focus::-webkit-input-placeholder {color: #ddd; opacity: 0; transition: opacity 0.3s ease;}
 input:focus::-moz-placeholder          {color: #ddd; opacity: 0; transition: opacity 0.3s ease;}
 input:focus:-moz-placeholder           {color: #ddd; opacity: 0; transition: opacity 0.3s ease;}
 input:focus:-ms-input-placeholder      {color: #ddd; opacity: 0; transition: opacity 0.3s ease;}

#contact_us_bg .contact_us textarea {
	background-color: rgba(255,255,255,0.4);
	color: white;
	resize: none;
}
#contact_us_bg .contact_us button {
	margin-top: 28px
}
 textarea::-webkit-input-placeholder       {color: #ddd; opacity: 1; transition: opacity 0.3s ease;}
 textarea::-moz-placeholder                {color: #ddd; opacity: 1; transition: opacity 0.3s ease;}
 textarea:-moz-placeholder                 {color: #ddd; opacity: 1; transition: opacity 0.3s ease;}
 textarea:-ms-input-placeholder            {color: #ddd; opacity: 1; transition: opacity 0.3s ease;}
 textarea:focus::-webkit-input-placeholder {color: #ddd; opacity: 0; transition: opacity 0.3s ease;}
 textarea:focus::-moz-placeholder          {color: #ddd; opacity: 0; transition: opacity 0.3s ease;}
 textarea:focus:-moz-placeholder           {color: #ddd; opacity: 0; transition: opacity 0.3s ease;}
 textarea:focus:-ms-input-placeholder      {color: #ddd; opacity: 0; transition: opacity 0.3s ease;}





/*==============================
Course effort
==============================*/

.blur.course{
	background: url(../assets/img/chalk_board_texture.png);
/*	min-height: 700px;
	height: 100%*/
}
.blur .container {
	padding-bottom: 100px;
	padding-top:70px;
}
.myjumbo{
	padding-bottom: 5px;
}
.myjumbo {
	margin-top: 70px;
	margin-bottom: 70px;

}
.col-md-4 .icon_container {
	color: #005c8b;
	background-color: transparent;
	margin-top:5%; 
}
.col-md-4 .caption {
	padding-left: 40px;
	padding-right: 40px;
}
.btn-width{
	width: 240px !important;
	margin-right: 20px;
	margin-left: 20px;
}
.course_features_bg{
	background-color: white;
	padding: 10px 0 70px 0;
}

.btn-material {
	background-color: transparent;
	color: white;
}


.course_survey.add_course .icon_container {
	position: absolute;
	left: 160px;
	color: #005b8c;
	text-align: center;
	border: 2px solid;
	background-color: white;
	top: 100px;
}
.course_survey.add_course hr{
	position: absolute;
	width: 425px;
	background-color: #005b8c;
	height: 2px;
	border: 0px;
	top: 175px;
}
div.course_survey.add_course {
	background-image: url(../assets/img/add_course_bg.jpg);
}


/*==============================
Vacancies
==============================*/

.blur.course.vac {
	background: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url(../assets/img/vacancies_jumbo_bg.jpg);
	top: -80px

	filter:none;
	-webkit-filter:none;
	-moz-filter:none;
	-o-filter:none;
	-ms-filter:none;
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
.join_us_form{
	background:white;
	padding: 60px 0 60px 0;
}